@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100;
    }
}

@layer utilities {
    .bg-wave-pattern {
        background-image: linear-gradient(to bottom, #f3f4f6, rgba(255, 255, 255, 0)), url("../public/background.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}
